@model GuildQuest.UI.Models.Vehicle

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Vehicle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Mileage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mileage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VINumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VINumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalesPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalesPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MSRPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MSRPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sold)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sold)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Featured)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Featured)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BodyStyle.BodyStyle1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BodyStyle.BodyStyle1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExteriorColor.ExteriorColor1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExteriorColor.ExteriorColor1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InteriorColor.InteriorColor1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InteriorColor.InteriorColor1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MakeModel.MakeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MakeModel.MakeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransmissionType.TransmissionType1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransmissionType.TransmissionType1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VehicleID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
