@using GuildQuest.UI.Models
@model InventoryViewModel

@{
    var linkText = "Details";
    var actionName = "Details";
    var controllerName = "Inventory";
    var btnClass = "btn btn-primary";
    
    if (ViewBag.Source == "Detail")
    {
        linkText = "Contact Us";
        actionName = "Contact";
        controllerName = "Home";
        btnClass = "btn btn-primary";
    }
    else if (ViewBag.Source == "Admin")
    {
        linkText = "Edit";
        actionName = "EditVehicle";
        controllerName = "Admin";
        btnClass = "btn btn-primary";
    }
    else if (ViewBag.Source == "Sales")
    {
        linkText = "Purchase";
        actionName = "Purchase";
        controllerName = "Sales";
        btnClass = "btn btn-primary";
    }
    else if (ViewBag.Source == "Purchase")
    {
        linkText = "Purchase";
        actionName = "Purchase";
        controllerName = "Sales";
        btnClass = "btn btn-primary invisible";
    }
           
    
}


@if (Model.Vehicles.Count > 0)
{
    <nav class="pagingControls">

    </nav>
    <div class="list-group" id="inventoryList">
        @foreach (VehicleViewModel vehicle in Model.Vehicles)
        {
            var imgSource = @Url.Content("~/Content/Images/" + @vehicle.VINumber.Trim() + ".jpg");

            <div class="card view overlay hm-green-slight card-outline-warning">


                <div class="card-block">
                    <div class="row w-100">
                        <div class="col-md">
                            <div class="card-title mx-auto h2-responsive">
                                @vehicle.YearMakeModel
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 " href>
                            <a href=@imgSource data-fancybox="images" data-width="2048" data-height="1365" data-options='{"toolbar" : "false", "smallBtn" : "true"}'>
                                <img class="card-image-top img-thumbnail" style="height: 300px; width: 100%;" src=@imgSource alt="Image of @vehicle.YearMakeModel">
                            </a>
                        </div>
                        <div class="col">
                            <div class="row   w-100">
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="bodyStyle">Body Style:</label>
                                        </div>
                                        <div class="col">
                                            <div id="bodyStyle">@vehicle.BodyStyle</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="interiorColor">Interior:</label>
                                        </div>
                                        <div class="col">
                                            <div id="interiorColor">@vehicle.InteriorColor</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <label for="salePrice">Sale Price:</label>
                                        </div>
                                        <div class="col align-content-end">
                                            <div id="salePrice">@vehicle.SalesPrice</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row   w-100">
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="transType">Trans:</label>
                                        </div>
                                        <div class="col">
                                            <div id="transType">@vehicle.TransmissionType</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="mileage">Mileage:</label>
                                        </div>
                                        <div class="col">
                                            <div id="mileage">@vehicle.Mileage</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <label for="msrpPrice">MSRP:</label>
                                        </div>
                                        <div class="col align-content-end">
                                            <div id="msrpPrice">@vehicle.MSRPrice</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row   w-100">
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="exteriorColor">Color:</label>
                                        </div>
                                        <div class="col">
                                            <div id="exteriorColor">@vehicle.ExteriorColor</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-3 pr-5  ">
                                            <label for="vinNumber">VIN:</label>
                                        </div>
                                        <div class="col ml-md-0 pl-0">
                                            <div id="vinNumber">@vehicle.VINumber</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="row">

                                    </div>
                                </div>
                            </div>

                            @if (!String.IsNullOrEmpty(@vehicle.Description))
                            {
                                <div class="row  w-100 ">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <label for="description">Description:</label>
                                            </div>
                                            <div class="col justify-content-start">
                                                <div id="description">@vehicle.Description</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                            <div class="row  w-100 justify-content-end">
                                @Html.ActionLink(
                                     linkText: linkText,
                                     actionName: actionName,
                                     controllerName: controllerName,
                                     routeValues: new
                                     {
                                         id = @vehicle.VehicleID
                                     },
                                     htmlAttributes: new
                                     {
                                         @class = btnClass
                                     }
                                     )
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <nav class="pagingControls">

    </nav>
}
else
{
    <div class="list-group" id="inventoryList">
        <p class="display-4 bg-light-blue mx-auto">No Vehicles meet your search criteria</p>
    </div>
}


