@using GuildQuest.UI.Models
@model VehicleViewModel

@{
    var imgSource = @Url.Content("~/Content/Images/" + @Model.VINumber + ".jpg");
}
<div class="card">
    <div class="card-block">
        <div class="row w-100">
            <div class="col-md-3">
                <div class="card-title mx-auto">
                    @Model.YearMakeModel
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <img class="card-image-top img-thumbnail" style="height: 300px; width: 100%;" src=@imgSource alt="Image of @Model.YearMakeModel">
            </div>
            <div class="col">
                <div class="row   w-100">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="bodyStyle">Body Style:</label>
                            </div>
                            <div class="col">
                                <div id="bodyStyle">@Model.BodyStyle</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="interiorColor">Interior:</label>
                            </div>
                            <div class="col">
                                <div id="interiorColor">@Model.InteriorColor</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-7">
                                <label for="salePrice">Sale Price:</label>
                            </div>
                            <div class="col align-content-end">
                                <div id="salePrice">@Model.SalesPrice</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row   w-100">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="transType">Trans:</label>
                            </div>
                            <div class="col">
                                <div id="transType">@Model.TransmissionType</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="mileage">Mileage:</label>
                            </div>
                            <div class="col">
                                <div id="mileage">@Model.Mileage</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-7">
                                <label for="msrpPrice">MSRP:</label>
                            </div>
                            <div class="col align-content-end">
                                <div id="msrpPrice">@Model.MSRPrice</div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row   w-100">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="exteriorColor">Color:</label>
                            </div>
                            <div class="col">
                                <div id="exteriorColor">@Model.ExteriorColor</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-3 pr-5  ">
                                <label for="vinNumber">VIN:</label>
                            </div>
                            <div class="col ml-md-0 pl-0">
                                <div id="vinNumber">@Model.VINumber</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="row">

                        </div>
                    </div>
                </div>


                @if (!String.IsNullOrEmpty(@Model.Description))
                {
                    <div class="row  w-100 ">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="description">Description:</label>
                                </div>
                                <div class="col justify-content-start">
                                    <div id="description">@Model.Description</div>
                                </div>
                            </div>
                        </div>
                    </div>

                }  

                <div class="row  w-100 justify-content-end">
                    @if (ViewBag.Source == "Detail")
                    {
                        @Html.ActionLink(
                                            linkText: "Contact Us",
                                            actionName: "Contact",
                                            controllerName: "Home",
                                            routeValues: new
                                            {
                                                id = @Model.VehicleID

                                            },
                                            htmlAttributes: new
                                            {
                                                @class = "btn btn-primary"
                                            }
                                            )
                    }
                    else
                    {
                        if (ViewBag.Source == "Admin")
                        {
                            @Html.ActionLink(
                                linkText: "Edit",
                                actionName: "EditVehicle",
                                controllerName: "Admin",
                                routeValues: new
                                    {
                                        id = @Model.VehicleID

                                    },
                                htmlAttributes: new
                                    {
                                        @class = "btn btn-primary"
                                    }
                            )
                        }
                        else
                        {
                            @Html.ActionLink(
                                            linkText: "Details",
                                            actionName: "Details",
                                            controllerName: "Inventory",
                                            routeValues: new
                                            {
                                                id = @Model.VehicleID

                                            },
                                            htmlAttributes: new
                                            {
                                                @class = "btn btn-warning"
                                            }
                                            )

                        }
                    }
                </div>
            </div>
        </div>

    </div>
</div>
