@using GuildQuest.UI.Models
@model VehicleViewModel

@{
    var imgSource = @Url.Content("~/Content/Images/" + @Model.VINumber + ".jpg");
}
<div class="card">
    <div class="card-block">
        <div class="row w-100">
            <div class="col-md-3">
                <div class="card-title mx-auto">
                    @Model.YearMakeModel
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <img class="card-image-top " style="height: 300px; width: 100%;" src=@imgSource alt="Image of @Model.YearMakeModel">
            </div>
            <div class="col">
                <div class="row">

                    <div class="col-md-4">
                        <div class="row">
                            <label for="bodyStyle">Body Style:</label>
                            <p id="bodyStyle">@Model.BodyStyle</p>
                        </div>
                        <div class="row">
                            <label for="transType">Trans:</label>
                            <p id="transType">@Model.TransmissionType</p>
                        </div>
                        <div class="row">
                            <label for="exteriorColor">Color:</label>
                            <p id="exteriorColor">@Model.ExteriorColor</p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="row">
                            <label for="interiorColor">Interior:</label>
                            <p id="interiorColor">@Model.InteriorColor</p>
                        </div>
                        <div class="row">
                            <label for="mileage">Mileage:</label>
                            <p id="mileage">@Model.Mileage</p>
                        </div>
                        <div class="row">
                            <label for="vinNumber">VIN #:</label>
                            <p id="vinNumber">@Model.VINumber</p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="row">
                            <label for="salePrice">Sale Price:</label>
                            <p id="salePrice">@Model.SalesPrice</p>
                        </div>
                        <div class="row">
                            <label for="msrpPrice">MSRP:</label>
                            <p id="msrpPrice">@Model.MSRPrice</p>
                        </div>

                    </div>
                </div>
                @if (!String.IsNullOrEmpty(@Model.Description))
            {
                    <div class="row  w-100 justify-content-start">
                        <div class="row">
                            <label for="description">Description:</label>
                            <p id="description">@Model.Description</p>
                        </div>
                    </div>
                }
                <div class="row  w-100 justify-content-end">
                    @if (ViewBag.Source == "Detail")
                    {
                        @Html.ActionLink(
                        linkText: "Contact Us",
                        actionName: "Contact",
                        controllerName: "Home",
                        routeValues: new
                        {
                            id = @Model.VehicleID

                        },
                        htmlAttributes: new
                        {
                            @class = "btn btn-warning"
                        }
                        )
                    }
                    else
                    {
                        @Html.ActionLink(
                        linkText: "Details",
                        actionName: "Details",
                        controllerName: "Inventory",
                        routeValues: new
                        {
                            id = @Model.VehicleID

                        },
                        htmlAttributes: new
                        {
                            @class = "btn btn-warning"
                        }
                        )


                    }
                </div>
            </div>
        </div>

    </div>
</div>
