@using GuildQuest.UI.Models                                                                                  


@model SearchViewModel

@*Url = "/api/SearchInventory",*@
<div>
   @using (Ajax.BeginForm( "SearchInventory", "Inventory", null,
        new AjaxOptions
        {
            HttpMethod = "POST",

            UpdateTargetId = "inventoryList",
            InsertionMode = InsertionMode.Replace,
            OnSuccess = "Guild.RePager()" ,
            OnComplete = "alert('Completed')"
        },
        new { enctype = "multipart/form-data", id = "searchBar", name = "searchBar", @class = " w-100  justify-content-between " }))

   {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.SearchType)

        <div class="row border-dark justify-content-between ">
            <div class="col-md-3 col-sm-4 justify-content-start">
                @Html.LabelFor(model => model.SearchArg, "", new { @class = "sr-only", style = "width=10px;" })
                @Html.EditorFor(model => model.SearchArg, new { htmlAttributes = new { placeholder = "Enter Make and/or Model" }, @class = "form-control form-control-lg  ", @id = "searchArg", placeholder = "Enter Make and/or Model" })
                @Html.ValidationMessageFor(model => model.SearchArg, "", new { @class = "text-danger bg-warning" })
            </div>
            <div class="col-md-3 col-sm-4 align-content-center">
                @Html.LabelFor(model => model.SearchMinPrice)
                @Html.DropDownListFor(model => model.SearchMinPrice, Model.MinPrices, new { @class = "custom-select form-control form-control-lg  mb-2 mr-sm-2 mb-sm-0" })
                @Html.ValidationMessageFor(model => model.SearchMinPrice, "", new { @class = "text-danger bg-warning" })

                @Html.LabelFor(model => model.SearchMaxPrice, "", new { @class = "sr-only", style = "width=10px;" })
                @Html.DropDownListFor(model => model.SearchMaxPrice, Model.MaxPrices, new { @class = "custom-select form-control form-control-lg  mb-2 mr-sm-2 mb-sm-0" })
                @Html.ValidationMessageFor(model => model.SearchMaxPrice, "", new { @class = "text-danger bg-warning" })
            </div>
            <div class="col-md-3 col-sm-4 justify-content-end">
                @Html.LabelFor(model => model.SearchMinYear)
                @Html.DropDownListFor(model => model.SearchMinYear, Model.MinYears, new { @class = "custom-select form-control form-control-lg  mb-2 mr-sm-2 mb-sm-0" })
                @Html.ValidationMessageFor(model => model.SearchMinYear, "", new { @class = "text-danger bg-warning" })

                @Html.LabelFor(model => model.SearchMaxYear, "", new { @class = "sr-only", style = "width=10px;" })
                @Html.DropDownListFor(model => model.SearchMaxYear, Model.MaxYears, new { @class = "custom-select form-control form-control-lg  mb-2 mr-sm-2 mb-sm-0" })
                @Html.ValidationMessageFor(model => model.SearchArg, "", new { @class = "text-danger bg-warning" })
            </div>
        </div>

        <div class="row">
            <div class="col-md-2  mx-auto">
                <button type="submit" class="btn btn-primary mx-auto" id="searchButton">Search</button>
            </div>
        </div>

    }
</div>
